{% extends "usuarios/base.html" %}
{% load static %}

{% block 'head' %}
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.1/font/bootstrap-icons.css">
<link rel="stylesheet" href='{% static "css/estilo.css" %}'>
<title>Tela de Login</title>
{% endblock %}

{% block 'conteudo' %}
<div class="container justify-content-center">
    <div class="row">
        <div class="col-md-4 mx-auto mt-5">
            
            <div class="card ">
                <div class="card-header">
                    Autenticação
                </div>
                <div class="card-body">
                    <h5 class="card-title">Faça seu login para acessar todo conteúdo disponivel</h5>
                    <main class="form-signin w-100 m-auto">
                        <form>
                            <h1 class="h3 mb-3 text-end mc"> Entrar</h1>
                            
                            <i class="mb-4 bi bi-person-circle text-success " style="font-size: 15px;">
                            </i>
                            <div class="form-floating my-4">
                                <input type="text" class="form-control text-danger" name="usuario" id="floatingInput" placeholder="">
                                <label for="floatingInput ">Digite seu username</label>
                            </div>
                            <div class="form-floating my-4">
                                <input type="password" name="senha" class="form-control " id="floatingPassword" placeholder="Password">
                                <label for="floatingPassword " >Digite sua senha</label>
                            </div>
                            
                            <div class="form-check text-start my-3">
                                <input class="form-check-input" type="checkbox" value="remember-me" id="flexCheckDefault">
                                <label class="form-check-label" for="flexCheckDefault">
                                    Remember me
                                </label>
                            </div>
                            <button class="btn btn-success w-75 py-2" type="submit">Entrar</button>
                            <p class="mt-5 mb-3 text-danger">© 2017–2023</p>
                        </form>
                    </main>
                    <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
                    <a href="#" class="btn btn-dark">Go somewhere</a>
                </div>
            </div>
            
        </div>
        </div>
        </div>
            {% endblock %}