{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'bootstrap/dist/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href='{% static "bootstrap-icons/font/bootstrap-icons.min.css" %}'>
    <link rel="stylesheet" href='{% static "css/estilo.css" %}'>
    <script src="{% static 'bootstrap/dist/js/bootstrap.bundle.js' %}" defer></script>
    <title>{% block title %}Modelo{% endblock title %}</title>
</head>
<body>

    {% block nav %}        
    {% endblock nav %}

    {% block conteudo %}      
    {% endblock conteudo %}

    {% block footer %}      
    {% endblock footer %}

    {% block scripts %}      
    {% endblock scripts %}
        
</body>


</html>
