<!DOCTYPE html>
<html lang='pt-br'>
    <head>
        <meta charset='UTF-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta name='viewport' content='width=device-width, initial-scale=1.0'>
        <link rel="stylesheet" href="../../node_modules/bootstrap/dist/css/bootstrap.min.css">
        <title></title>
    </head>
    <body>
        <div class="container justify-content-center">
            <div class="card col-6 mx-auto ms-3 my-5 bg-dark">
                <h1 class="text-success card-title text-center my-4">Cadastro de Usuários</h1>
            <div class="row">
                <div class="col-3 p-2"><img src="../../static/img/logo.png" alt=""></div>
                <div class="col-6 mx-auto">
                    <div class="form-floating my-2">
                        <input type="text" class="form-control" id="floatingInputGroup1" placeholder="Username" name="primeiro_nome">
                        <label for="floatingInputGroup1">Primeiro Nome</label>
                      </div>
                      <div class="form-floating">
                        <input type="text" class="form-control my-2" id="floatingInputGroup1" placeholder="Username" name='ultimo_nome'>
                        <label for="floatingInputGroup1">Ultimo Nome</label>
                      </div>
                    
                </div>
                <p class="display-4 text-light p-5">Vitalab</p>
                <form action="" method="post">
                <div class=" col-9 mx-auto mb-4">
                    <div class="form-floating">
                        <input type="text" class="form-control my-2" id="floatingInputGroup1" placeholder="Username" name="username">
                        <label for="floatingInputGroup1">Username</label>
                      </div>
                      <div class="form-floating">
                        <input type="password" class="form-control my-2" id="floatingInputGroup1" placeholder="Username" name="senha">
                        <label for="floatingInputGroup1">Senha</label>
                      </div>
                      <div class="form-floating">
                        <input type="email" class="form-control my-2" id="floatingInputGroup1" placeholder="Username" name="email">
                        <label for="floatingInputGroup1">email</label>
                      </div>
                      <div class="form-floating mb-5">
                        <input type="password" class="form-control my-2" id="floatingInputGroup1" placeholder="Username" name="confirma_senha">
                        <label for="floatingInputGroup1">Confirma senha</label>
                      </div>
                </div>
                </form>
            </div>
            <div class="row">

            </div>
            </div>
        </div>

        
    </body>
</html>