{% extends "base.html" %}
{% load static %}


{% block conteudo %}
    <div class="container">
        <h3 class="text-center"> <img width="10%" src="{% static 'img/logo.png' %}" alt="">Cadastre-se</h3>
        {% if messages %}
        <br>
        {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">{{ message }}</div>
        {% endfor %}
        {% endif %}
        <div class="rol d-flex justify-content-center mx-auto">
            <div class="col-md-6">
            <form action="{% url 'login' %}" method="POST">{% csrf_token %}
                <div class="form-floating">
                    <input type="text" class="form-control" name="username" placeholder="">
                    <label>Username</label>
                </div>
                <div class="form-floating my-4">
                    <input type="text" class="form-control" name="senha" placeholder="">
                    <label>Senha</label>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <input type="submit" class="btn btn-success" value="Logar">
                    </div>
                </div>        
            </form>
        </div>
        </div>
    </div>
{% endblock %}